/* 
Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно,
чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. 
Его разметка также гарантирует работу своего скрипта.
*/

.page {
  min-block-size: 100dvb;
  min-inline-size: 320px;

  padding-block-start: 99px;

  background-image: var(--background-image-gradient);
  background-attachment: fixed;
  background-size: cover;

  font-family: var(--font, 'Arial', 'sans-serif');
  color: var(--text-color, #000);
  font-size: var(--text-size, 18px);
  font-style: normal;
  font-variation-settings: 'wght' var(--text-font-weight, 400);
}

.container {
  max-width: 700px;
  margin: 0 auto;
}

.button {
  font-family: 'PressStart2P';
  font-size: var(--text-menu-size);
  font-style: normal;
  font-weight: 400;
  border: none;
  padding: 0;
  background-color: transparent;
}

.border {
  background: var(--background-color, #FFF);
  border: 2px solid var(--border-color, #000);
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-inline-start: 14px;
  padding-inline-end: 14px;
  padding-block-start: 136px;
  padding-block-end: 20px;
  margin-block-end: 100px;
}

.header__title {
  order: 2;
  font-family: 'PressStart2P';
  font-size: var(--title-size);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  margin-block-end: 26px;
}

.header__subtitle {
  order: 1;
  font-family: 'PressStart2P';
  font-size: var(--subtitle-size);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  margin-block-end: 20px;
}

.header__theme-menu {
  order: 3;
  margin-inline-start: 15px;
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.theme-menu__item {
  position: relative;
}

.theme-menu__button {
  line-height: normal;
  text-transform: uppercase;
  transition: ease 0.3s;
  position: relative;
}

.theme-menu__button::after {
  content: '';
  opacity: 0.6;
  position: absolute;
  right: 0;
  bottom: -3px;
  width: 100%; 
  height: 2px;
  background-color: var(--text-color-accent);
  transition: ease 0.3s;
  transform-origin: left;
  transform: scaleX(0);
}

.theme-menu__button:hover {
  opacity: 0.6;
  transition: ease 0.3s;
  cursor: pointer;
}

.theme-menu__button:focus {
  outline: none;
  opacity: 0.6;
}

.theme-menu__button:focus-visible {
  opacity: 0.6;
  transition: ease 0.3s;
}

.theme-menu__button:focus-visible::after {
  content: '';
  opacity: 0.6;
  position: absolute;
  right: 0;
  bottom: -3px;
  width: 100%; 
  height: 2px;
  background-color: var(--text-color-accent);
  transition: ease 0.3s;
  transform: scaleX(1);
}

.theme-menu__button:disabled {
  pointer-events: none;
  opacity: 0.6;
}

.theme-menu__button:disabled::before {
  pointer-events: none;
  opacity: 0.6;
  content: '▶';
  position: absolute;
  left: -20px;
  animation-name: arrow;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-direction: alternate;
}

.main {
  display: flex;
  flex-direction: column;
  row-gap: 51px;
  margin-block-end: 105px;
}

.card__heading {
  font-variation-settings: 'wght' var(--heading-font-weight, 700);
  line-height: normal;
  padding: 5px 10px;
}

.card__image-inner-wrap {
  position: relative;
  display: flex;
  justify-content: center;
  aspect-ratio: 1/1;
  margin-block-end: 3px;
}

.card__image {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  object-position: center;
}

.card__image-2 {
  filter: sepia(0.6) saturate(60%) brightness(80%);
}

.card__image-3 {
  filter: saturate(300%);
}

.card__image-4 {
  filter: hue-rotate(0.1turn);
}

.card__image-5 {
  filter: invert(80%);
}

.card__image-6 {
  filter: sepia(0.6) contrast(60%);
}

.card__image-7 {
  filter: blur(15px);
}

.card__image-8 {
  filter: invert(80%) hue-rotate(0.7turn) brightness(60%);
}

.lable {
  position: absolute;
  top: 25px;
  right: 25px;
  font-family: var(--font-accent);
  font-size: var(--text-menu-size);
  text-transform: uppercase;
  opacity: 0.5;
  mix-blend-mode: hard-light;
  text-shadow:
    1px 1px var(--text-color-shadow),
    -1px -1px var(--text-color-shadow),
    -1px 1px var(--text-color-shadow),
    1px -1px var(--text-color-shadow);
}

@supports ((text-stroke: 1px var(--text-color-shadow)) or (-webkit-text-stroke: 1px var(--text-color-shadow))) {
  .lable {
    -webkit-text-stroke: 1px var(--text-color-shadow);
    text-stroke: 1px var(--text-color-shadow);
    text-shadow: none;
  }
}

.card__text-inner-wrap {
  padding: 25px;
}

.card__text-inner-wrap p:not(:last-of-type) {
  margin-block-end: 27px;
}

.card__text-inner-wrap p:last-of-type {
  margin-block-end: 25px;
}

.card__text {
  line-height: 21px; /* 116.667% */
}

.card__button-inner-wrap {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 12px;
}

.card__icon-button {

}

.is-liked {

}

.card__like-button{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.card__like-button::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--border-color);
  transition: 0.5s ease-in-out;
  transform-origin: left;
  transform: scaleX(0);
}

.card__like-button:hover::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--border-color);
  transition: 0.5s ease-in-out;
  transform: scale(1);
}

.card__like-button:focus {
  outline: none;
}

.card__like-button:focus-visible {
  box-shadow: 2px 2px var(--border-color);
  transition: ease 0.3s;
}

.button__text {
  width: 130px;
  height: 38px;
  line-height: 90%; /* 12.6px */
}

.button-span {
  position: absolute;
  color: var(--color-span-button);
  mix-blend-mode: difference;
}

.main__save-button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 335px;
  height: 51px;
  margin: 0 auto;
  overflow: hidden;
}

.main__save-button::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--border-color);
  transition: 0.5s ease-in-out;
  transform: translateX(-100%);
}

.main__save-button:hover::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--border-color);
  transform: translateX(0%);
}

.main__save-button:focus {
  outline: none;
}

.main__save-button:focus-visible {
  box-shadow: 2px 2px var(--border-color);
  transition: ease 0.3s;
}

@media (width < 450px) {
  .header {
    padding-block-start: 120px;
  }

  .main__save-button {
    width: 306px;
    height: 80px;
  }
}