/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
  --background-color: white;
  --border-color: black;
  --text-color: black;
  --text-color-accent: rgba(0, 0, 0, 0.6);
  --text-color-shadow: rgba(0, 0, 0, 0.5);
  --like-color: #FF0000;
  --title-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  --subtitle-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  --text-menu-size: 14px;
  --text-size: 18px;
}

/*
:root {
  --background-color: black;
  --border-color: #00CC14;
  --text-color: #00CC14;
  --text-color-accent: rgba(0, 204, 20, 0.6);
  --text-color-shadow: rgba(0, 204, 20, 0.5);
  --like-color: #FF0000;
}
*/

/*
:root {
  --c1: red;
  --c2: blue;
  --grad: linear-gradient(var(--c1), var(--c2));
}

.element {
  --c1: green;
  background: var(--grad);
}
*/